<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
    <ul>
        <li><b>First Name: </b>{{ user.firstName }}</li>
        <li><b>Last Name: </b>{{ user.lastName }}</li>
        <li><b>Email: </b>{{ user.email }}</li>
    </ul>
    <p>Go to your shopping cart? <a href="/mycart">Click Here!</a></p>
</body>
</html>